@page
@model IndexModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Title</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main role="main" class="container">
        <h1>Some content</h1>
        <p id="someId">Some other content.</p>
    </main>
</body>
</html>